<html>
	<body>
		<center>
			<h2>Please fill your soil, climate and crop details:</h2><hr><br>
			<form action="{{'predict'}}" method="POST">

				<label for="Temperature">Temperature:</label>
   				<input type="number" name="Temperature"><br><br>

   				<label for="Humidity">Humidity:</label>
   				<input type="number" name="Humidity"><br><br>

				<label for="Moisture">Moisture:</label>
  				<input type="number" name="Moisture"><br><br>
	
				<label for="Soil_Type">Soil Type:</label>
  				<input type="text" name="Soil_Type"><br><br>
	
				<label for="Crop_Type">Crop Type:</label>
  				<input type="text" name="Crop_Type"><br><br>
		
				<label for="Nitrogen">Nitrogen:</label>
  				<input type="number" name="Nitrogen"><br><br>
	
				<label for="Potassium">Potassium:</label>
  				<input type="number" name="Potassium"><br><br>
			
				<label for="Phosphorous">Phosphorous:</label>
  				<input type="number" name="Phosphorous"><br><br><br>
	
				<input type="submit" value="Predict">	
			</form>
		<br>
		<br>
		</center>
	</body>
</html>
