<html>
    <body>
<!--          <form action="{{url_for('predict')}}"method="post"> -->
             <form action="{{'predict'}}" method="POST">
              <label for="N">Nitrogen:</label><br>
              <input type="float", name="N"><br>
              <label for="P">Phosphorous:</label><br>
              <input type="float", name="P"><br>
              <label for="K">Potassium:</label><br>
              <input type="float", name="K"><br>
              <label for="temperature">Temperature:</label><br>
              <input type="float", name="temperature"><br>
              <label for="humidity">Humidity:</label><br>
              <input type="float", name="humidity"><br>
              <label for="ph">PH:</label><br>
              <input type="float", name="ph"><br>
              <label for="rainfall">Rainfall:</label><br>
              <input type="float", name="rainfall"><br>
              <input type="submit", value='predict'>
         </form> 
        <br>
        <br>
        {{ prediction_text }}
    </body>
</html>